@import '../../assets/section'

.hello
  @include section
  height: 100vh
  display: flex
  align-items: center

.hello__container
  @include container
  max-width: 1400px
  display: flex
  flex-direction: column
  justify-content: center
  gap: 30px

@media screen and (max-width: 470px)
  .hello
    gap: 20px

.hello__text
  position: relative
  margin: 0
  font-size: 56px
  line-height: 67px
  font-weight: 700
  animation-delay: .3s

@media screen and (max-width: 768px)
  .hello__text
    font-size: 40px
    line-height: 48px

@media screen and (max-width: 470px)
  .hello__text
    font-size: 28px
    line-height: 36px

.hello__name
  color: #02aab0
